@model SESSION
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#0A1365;">

    <a href="#" class="brand-link">
        <img src="~/images/logo.png" alt="Micro Leasing Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">Micro Leasing</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/images/user_logo.png" class="img-circle elevation-2" alt="User Image">
            </div>
            @if (Model.personnel_code != "")
            {
                <div class="info">
                    <div class="d-block" style="color:#ffffff !important">
                        @Model.personnel_name_en <br />
                        @Model.personnel_last_en
                    </div>
                </div>
            }

        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @if (Model.personnel_code != "")
                {
                    <li class="nav-item">
                        <a href="/Process/RequestList" class="nav-link">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>รายการใบคำขอ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Settings/Employee" class="nav-link">
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>รายชื่อพนักงาน</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Process/Todolist" class="nav-link">
                            <i class="nav-icon fas fa-list-ol"></i>
                            <p>รายการรอดำเนินการ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>
                                การตั้งค่า
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/ApproveMaster/TransactionApproveMaster" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>ตั้งค่าสายการอนุมัติกับระบบ</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Settings/ApproveMappingSystem" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>ตั้งค่าสายการอนุมัติกับระบบ</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Settings/PositionMappingSystem" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>ตั้งค่าตำแหน่งกับระบบ</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Settings/SetPermission" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>กำหนดสิทธิ์ใช้งาน</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                }
            </ul>
        </nav>
    </div>

</aside>