@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.User != "")
{
    <div class="content-header">
        <div class="container-fluid padingHeader">
            <div class="row mb-2">
                <div class="col-sm-12" style="text-align:center">
                    <img src="~/images/login_success.png" style="width:150px">
                    <h4 class="m-0"><br />ยินดีต้อนรับเข้าสู่ระบบ <b>User Access Request</b> </h4>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="content-header ">
        <div class="container-fluid padingHeader">
            <div class="row mb-2">
                <div class="col-sm-12" style="text-align:center">
                    <img src="~/images/login_warning.png" style="width:150px">
                    <h4 class="m-0"><br />ไม่มีสิทธิ์เข้าใช้งานระบบ <b>User Access Request</b> </h4>
                </div>
            </div>
        </div>
    </div>
}